{
  "semi": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": false
}